@model Product_Management.Models.Domain.Product
@{
    ViewData["Title"] = "EditProduct";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 border border-3 rounded rounded-3 p-4">
            <h3 class="text-info p-2 m-1">Update Product</h3> <form method="post" asp-action="EditProduct">
                <div class="form-check">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name" />
                    <input type="hidden" asp-for="Id" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-check">
                    <label asp-for="Description"></label>
                    <input type="text" asp-for="Description" class="form-control" placeholder="Enter Description" />
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="form-check">
                    <label asp-for="Purchage_Price"></label>
                    <input type="text" asp-for="Purchage_Price" class="form-control" placeholder="Enter Purchage_Price" />
                    <span class="text-danger" asp-validation-for="Purchage_Price"></span>
                </div>
                <div class="form-check">
                    <label asp-for="Sale_Price"></label>
                    <input type="text" asp-for="Sale_Price" class="form-control" placeholder="Enter Sale_Price" />
                    <span class="text-danger" asp-validation-for="Sale_Price"></span>
                </div>
                <div class="form-check">
                    <label asp-for="Category_Name"></label>
                    <input type="text" asp-for="Category_Name" class="form-control" placeholder="Enter Category_Name" />
                    <span class="text-danger" asp-validation-for="Category_Name"></span>
                </div>

                <div>
                    <input type="submit" class="btn btn-sm btn-primary p-2 m-2 float-end" value="Update" />
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

