@model IEnumerable<Product_Management.Models.DTO.ProductModel>
@{
    ViewData["Title"] = "getProductList";
}


<div class="my-2">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search by title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control"  id="sterm" name="sterm" placeholder="Sarch by title">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <button type="reset" class="btn btn-dark">Reset</button>
        </div>
        <div class="col-12 float-end ms-auto">
                <a class="btn btn-sm btn-primary p-1 m-1" asp-controller="Product" asp-action="AddProduct">Add Product</a>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        @if (TempData["msgError"] != null)
        {
            <div class="alert alert-danger notification text-center">
                @TempData["msgError"]
            </div>
        }
        @if (TempData["msgSuccess"] != null)
        {
            <div class="alert alert-danger notification text-center">
                @TempData["msgSuccess"]
            </div>
        }

        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <partial name="_ProductThumbnail" model="@product" />
            </div>
        }

    </div>
</div>

