@model Product_Management.Models.DTO.CategoryModel
@{
    ViewData["Title"] = "EditCategory";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 border border-3 rounded rounded-3 p-4">
            <h3 class="text-info p-2 m-1">Update Category</h3> <form method="post" asp-action="EditCategory">
                <div class="form-check">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name" />
                    <input type="hidden" asp-for="Id"/>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div>
                    <input type="submit" class="btn btn-sm btn-warning p-2 m-2 float-end" value="Update" />
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

